@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  width: 1440px;
  max-width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

header {
  padding: 5% 5% 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 42px;
}

img.logo {
  height: 200px;
  left: 5%;
  position: relative;
}

nav {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.intro-text {
  width: 70%;
  margin: 86px auto;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  width: 100%;
  height: 600px;
  background-image: url('./assets/hero/hero-1.jpg');
}

section.top-picks {
  padding: 5%;
  max-width: 100%;
  /* height: 1440px; */
  margin-bottom: 100px;
}

.filters {
  width: 100%;
  margin-bottom: 46px;
}

ul {
  padding: 0;
  margin: 0;
}

ul.filter-list {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.filter-button {
  display: inline;
  margin-right: 20px;
  font-size: 1.2em;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
  border-width: 0 0 1px 0;
  font-family: 'Inconsolata';
}

.is-checked {
  border-bottom: 3px solid #002ab8;
  color: #002ab8;
  font-weight: 700;
}

div.grid {
  /* display: grid; */
  width: 100%;
  height: 1440px;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px; */
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 30%;
  height: 380px;
  margin-right: 5%;
  margin-bottom: 46px;
  background-color: #00a319;
  transition: transform 0.5s ease;
}

.grid-item:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item:nth-child(3n) {
  margin-right: 0;
}

.disk {
  width: 98%;
  height: 98%;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 100%;
  position: relative;
  transition: all 0.5s ease;
  z-index: -1;
}

div.grid-item:hover {
  transform: translateY(20px);
}

div.grid-item:hover .disk {
  transform: translateY(-30px) rotate(40deg);
  z-index: -1;
}

footer {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.social-links img {
  height: 32px;
}

h1 {
  font-size: 2em;
  color: #000;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

.nation {
  background-image: url('./assets/records/soulofanation.jpg');
}

.jimi {
  background-image: url('./assets/records/azymuth.jpg');
}

.kool {
  background-image: url('./assets/records/koolandthegang.jpg');
}

.cream {
  background-image: url('./assets/records/cream.jpg');
}

.zapp {
  background-image: url('./assets/records/zapp.jpg');
}

.pink {
  background-image: url('./assets/records/yussefkamaal.jpg');
}

.curtis {
  background-image: url('./assets/records/curtismayfield.jpg');
}

.lord {
  background-image: url('./assets/records/lordecho.jpg');
}

.todd {
  background-image: url('./assets/records/toddterje.jpg');
}

.peanut {
  background-image: url('./assets/records/theelectricpeanutbuttercompany.jpg');
}

.earth {
  background-image: url('./assets/records/earthwindandfire.jpg');
}

.parliament {
  background-image: url('./assets/records/parliament.jpg');
}
